In [1]:
# Imports
import tweepy
import pandas as pd
import time
import re

In [2]:
twitter_keys = {
        'consumer_key':     'oMkhFERueevs86vGA1fs484xi',
        'consumer_secret': 'av3haXb3WFz6eA5Wi1e8fxayAbDA3CzpRTr3RXnx2DMoTGulk5',
        'access_token_key':    
'853833403-NUlIwMNMCMKoWrTzfEiXBcp5Vqa7UCLfgXXH8CON',
        'access_token_secret': '2DoX4cdZpAn9SI1c3Ww3G4tYbSAtp3XTNFtU8jRrAXaqX'
    }

#Setup access to API
auth = tweepy.OAuthHandler(twitter_keys['consumer_key'], twitter_keys['consumer_secret'])
auth.set_access_token(twitter_keys['access_token_key'], twitter_keys['access_token_secret'])

api = tweepy.API(auth)

In [3]:
def username_tweets_to_df(username,count):
    """
    Inputs a twitter username and count of tweets you'd like to see, pulls tweets and stores information about the user's tweets in a dataframe. 
    """
    try:      
        # Creation of query method using parameters
        tweets = tweepy.Cursor(api.user_timeline, id=username, tweet_mode='extended').items(count)

        # Pulling information from tweets iterable object
        tweets_list = [[tweet.id, tweet.created_at,tweet.full_text] 
                       for tweet in tweets]

        # Creation of dataframe from tweets list
        # Add or remove columns as you remove tweet information
        tweets_df = pd.DataFrame(tweets_list,
                                 columns=['tweet_id','datetime', 'text'])

    except BaseException as e:
          print('failed on_status,',str(e))
          time.sleep(3)
           
    return tweets_df

Let's start by getting as many tweets as we can grab from the following subscription news outlets: <br/>
*New York Times, Medium, WSJ, Washington Post, Business Insider, Financial Times, The Atlantic, The Economist, New Yorker*

In [10]:
#query  tweets from the New York Times main account
username = 'nytimes'
count = 10000
NYT = username_tweets_to_df(username, count)

In [12]:
nyt = NYT

In [13]:
nyt

,tweet_id,datetime,text
0,1322558986353299459,2020-10-31 15:20:08,"At a rally in Michigan on Friday, President Tr..."
1,1322553960742477825,2020-10-31 15:00:10,‚ÄúI‚Äôm going to vote like my life depends on it....
2,1322548888042196994,2020-10-31 14:40:01,Want to share a confidential news tip with The...
3,1322543878919081984,2020-10-31 14:20:07,"‚ÄúMy only surviving son,‚Äù is how Joe Biden refe..."
4,1322538862288228352,2020-10-31 14:00:11,"For one mom, Halloween means another choosing ..."
...,...,...,...
3202,1311162628966842368,2020-09-30 04:35:05,Within minutes of President Trump's mention of...
3203,1311161388535099392,2020-09-30 04:30:09,When asked about climate change during the deb...
3204,1311158849408323584,2020-09-30 04:20:04,"Helen Reddy, the Australian-born singer whose ..."
3205,1311153832123158528,2020-09-30 04:00:08,RT @carolrosenberg: On today's decision declin...
3206,1311151294166585350,2020-09-30 03:50:03,A clear-cut winner did not emerge from a speci...

In [23]:
#pickle
nyt.to_pickle('nyt_10_31.pickle')

In [16]:
#query tweets from the Medium main account
username = 'Medium'
count = 10000
medium = username_tweets_to_df(username, count)
medium

,tweet_id,datetime,text
0,1322559918898061312,2020-10-31 15:23:51,Nigeria‚Äôs young activists are doing the work‚Ää‚Äî...
1,1322544066857439233,2020-10-31 14:20:51,"Every week, @williamfleitch asks readers to sh..."
2,1322528143530434562,2020-10-31 13:17:35,Here's a üëª spooky üëª #longread for you: A true ...
3,1322512219221991424,2020-10-31 12:14:18,"When a person brings Covid-19 home, whether th..."
4,1322496446957051907,2020-10-31 11:11:38,.@AfroReporter grew up in a deeply religious f...
...,...,...,...
3198,1260596496933752833,2020-05-13 15:43:20,Astrologer @ashleighdjay answers all the quest...
3199,1260580438726389766,2020-05-13 14:39:31,You might have a full-featured pulse oximeter ...
3200,1260565682066010113,2020-05-13 13:40:53,RT @elemental: ‚ö°Ô∏è ‚Äú8 Takeaways From Tuesday's ...
3201,1260565610939011073,2020-05-13 13:40:36,May 13: Here's the latest.\n\n‚Ä¢ There are over...
3202,1260458958038368258,2020-05-13 06:36:48,"Relaxed regulations, misinformation, and a big..."

In [24]:
#pickle
medium.to_pickle('medium_10_31.pickle')

In [6]:
#query tweets from Wall Street Journal main account
username = 'WSJ'
count = 10000
WSJ = username_tweets_to_df(username, count)

In [14]:
wsj = WSJ

In [15]:
wsj

,tweet_id,datetime,text
0,1322557718683672576,2020-10-31 15:15:06,"Each year, more than 600,000 people deemed to ..."
1,1322554010868613120,2020-10-31 15:00:22,"The leaders of Microsoft, Coca-Cola, American ..."
2,1322550162963791872,2020-10-31 14:45:05,"As the election barrels to an end, President T..."
3,1322546416594702338,2020-10-31 14:30:12,From @WSJopinion: Bob Chitester‚Äôs 1980 PBS ser...
4,1322542624205639680,2020-10-31 14:15:07,From creative pumpkin recipes to spooky but st...
...,...,...,...
3230,1309523080243535873,2020-09-25 16:00:06,"Essay: Since the 1960s, the Supreme Court has ..."
3231,1309519303474057216,2020-09-25 15:45:06,"One is the loneliest number, but for Brits in ..."
3232,1309515550465437698,2020-09-25 15:30:11,"In the last year, a fire hose of news might ha..."
3233,1309512858972151808,2020-09-25 15:19:29,RT @WSJLife: Try your hand at solving our Frid...
3234,1309511876447961089,2020-09-25 15:15:35,"To win more consumers, Beyond Meat is tweaking..."

In [25]:
#pickle
wsj.to_pickle('wsj_10_31.pickle')

In [17]:
#query tweets from the Washington Post main account
username = 'washingtonpost'
count = 10000
wp = username_tweets_to_df(username, count)
wp

,tweet_id,datetime,text
0,1322556705859870722,2020-10-31 15:11:05,College football kickoff: Midseason awards and...
1,1322554696909938688,2020-10-31 15:03:06,Join The Washington Post for special live cove...
2,1322546531354976257,2020-10-31 14:30:39,White House sidestepped FDA to distribute hydr...
3,1322538899789516800,2020-10-31 14:00:19,The increase in mail and early voting has chan...
4,1322538879212228614,2020-10-31 14:00:15,Past U.S. presidents took steps to prevent a p...
...,...,...,...
3236,1309601698210549764,2020-09-25 21:12:30,Analysis: The part of Fox News that Trump like...
3237,1309599044008804355,2020-09-25 21:01:57,Opinion: Don‚Äôt let democracy burn to the groun...
3238,1309595306259025920,2020-09-25 20:47:06,French Open officials had hoped for thousands ...
3239,1309593633293766656,2020-09-25 20:40:27,Perspective: Why making your diet part of your...
3240,1309591049602560002,2020-09-25 20:30:11,Perspective: The parties are locked in a polit...

In [26]:
#pickle
wp.to_pickle('wp_10_31.pickle')

In [18]:
#query tweets from the Business Insider main account
username = 'businessinsider'
count = 10000
bi = username_tweets_to_df(username, count)
bi

,tweet_id,datetime,text
0,1322561858918846465,2020-10-31 15:31:33,Warren Buffett's Berkshire Hathaway swung from...
1,1322560626355560448,2020-10-31 15:26:39,We spoke to employees of NYC's beloved 93-year...
2,1322558176915529735,2020-10-31 15:16:55,NYC's Cactus Store sells rare and unusual plan...
3,1322555116419981317,2020-10-31 15:04:46,'It's kind of a Wild West right now': Yelp ins...
4,1322554828493672448,2020-10-31 15:03:37,The millionaire owner of NYC's beloved 93-year...
...,...,...,...
3209,1316775558093647872,2020-10-15 16:18:52,"RT @w_c_edwards: Right now, it's the FAAMGs. B..."
3210,1316775325519536128,2020-10-15 16:17:56,RT @SydneyKBradley: TikTok houses aren't only ...
3211,1316775117909823493,2020-10-15 16:17:07,RT @dwhate: Snapchat's investment in multi-yea...
3212,1316774231439441920,2020-10-15 16:13:35,Payments tech salaries revealed: Here's what e...
3213,1316772449782988800,2020-10-15 16:06:31,Trump says he's not tested for COVID-19 every ...

In [27]:
#pickle
bi.to_pickle('bi_10_31.pickle')

In [8]:
#query tweets from The Financial Times main account
username = 'FinancialTimes'
count = 10000
FT = username_tweets_to_df(username, count)

In [19]:
ft = FT

In [20]:
ft

,tweet_id,datetime,text
0,1322548506222055425,2020-10-31 14:38:30,"Sean Connery, actor, 1930-2020 https://t.co/HW..."
1,1322539832502005760,2020-10-31 14:04:02,Simon Schama: 'More than any election in livin...
2,1322533209989652485,2020-10-31 13:37:43,Boris Johnson to announce tougher coronavirus ...
3,1322529248507240451,2020-10-31 13:21:58,Investors pile pressure on companies over ESG ...
4,1322509643055333381,2020-10-31 12:04:04,Meet the virus-hunters trying to prevent the n...
...,...,...,...
3211,1303503976831291392,2020-09-09 01:22:20,Warren Buffett‚Äôs Berkshire Hathaway to invest ...
3212,1303493763562647552,2020-09-09 00:41:45,South Korean retail investors scramble for a p...
3213,1303483300728766465,2020-09-09 00:00:11,"Hello, Hong Kong. While you were sleeping, thi..."
3214,1303466014903021570,2020-09-08 22:51:29,Coronavirus latest: New cases in California sh...
3215,1303462071397425158,2020-09-08 22:35:49,AstraZeneca pauses vaccine trial after suspect...

In [28]:
#pickle
ft.to_pickle('ft_10_31.pickle')

In [21]:
#query tweets from The Atlantic main account
username = 'TheAtlantic'
count = 10000
atlantic = username_tweets_to_df(username, count)
atlantic

,tweet_id,datetime,text
0,1322562416903884802,2020-10-31 15:33:46,A former Detroit cop makes a living on YouTube...
1,1322557017756717060,2020-10-31 15:12:19,"He‚Äôs assailed democratic norms, but the presid..."
2,1322549442097143809,2020-10-31 14:42:13,"If Trump tries to steal the election, people w..."
3,1322543670973788165,2020-10-31 14:19:17,"Endings are seductive. They suggest order, and..."
4,1322538468900278272,2020-10-31 13:58:37,The Trump campaign's ‚Äúelection-security operat...
...,...,...,...
3222,1290121038026530816,2020-08-03 03:03:19,Television and film have reached Peak Cop. Noi...
3223,1290115024560611328,2020-08-03 02:39:25,"When her first novels were published, in the m..."
3224,1290109944973258752,2020-08-03 02:19:14,2020 may offer Democrats their best chance yet...
3225,1290104384194412544,2020-08-03 01:57:08,"""As long as America proves capable of deliveri..."
3226,1290098546952343554,2020-08-03 01:33:57,"Absent the usual summer blockbusters, the land..."

In [29]:
#pickle
atlantic.to_pickle('atlantic_10_31.pickle')

In [22]:
#query tweets from The New Yorker main account
username = 'NewYorker'
count = 10000
newyorker = username_tweets_to_df(username, count)
newyorker

,tweet_id,datetime,text
0,1322553632986943491,2020-10-31 14:58:52,"After a long period of turmoil, involving alle..."
1,1322547173398056966,2020-10-31 14:33:12,With the disappearance of blockbuster publicit...
2,1322542548531974144,2020-10-31 14:14:49,Grouptherapy is a new pop-music project born f...
3,1322530758280519681,2020-10-31 13:27:58,"‚ÄúI‚Äôd love to have an affair with you, if you w..."
4,1322522456071016452,2020-10-31 12:54:59,A strange thing happens when we encounter a bo...
...,...,...,...
3227,1298021831979552769,2020-08-24 22:18:15,"In February, a young Black man was shot by thr..."
3228,1298021035166638085,2020-08-24 22:15:05,".@DavidQuammen writes about the pangolin, a th..."
3229,1298011934772559872,2020-08-24 21:38:55,.@jengonnerman reports on the fate of New York...
3230,1298010414203248640,2020-08-24 21:32:53,"The new HBO series ""Lovecraft Country"" present..."
3231,1298005770596954113,2020-08-24 21:14:26,Has our hunger for the humble pangolin got us ...

In [30]:
#pickle
newyorker.to_pickle('newyorker_10_31.pickle')

In [31]:
#query tweets from The Economist main account
username = 'TheEconomist'
count = 10000
economist = username_tweets_to_df(username, count)
#pickle
economist.to_pickle('economist_10_31.pickle')

In [32]:
economist

,tweet_id,datetime,text
0,1322573308420853761,2020-10-31 16:17:03,Using a hotel as a stand-in office is nice. Bu...
1,1322563985628082180,2020-10-31 15:40:00,.@m_c_marshall tells @alokjha about the compet...
2,1322560983945105409,2020-10-31 15:28:05,Outsiders‚Äô views of America‚Äôs tolerance of cor...
3,1322555954601381894,2020-10-31 15:08:06,People expect Singapore's street food to be ch...
4,1322555188893388800,2020-10-31 15:05:03,How childbirth became political https://t.co/s...
...,...,...,...
3234,1313161046572634120,2020-10-05 16:56:05,"Big, stable quantum computers could be hugely ..."
3235,1313161019439677445,2020-10-05 16:55:59,‚ÄúTruth has a disadvantage...it‚Äôs fighting with...
3236,1313156514740350976,2020-10-05 16:38:05,A study of undergraduates found that those wit...
3237,1313155004476293122,2020-10-05 16:32:04,Global house prices seem to be immune to the e...
3238,1313149071251705857,2020-10-05 16:08:30,Corruption costs the world nearly $3 trillion ...

In [34]:
wired

,tweet_id,datetime,text
0,1322553236537200640,2020-10-31 14:57:18,Massachusetts Question 1 would amend the state...
1,1322551400463740930,2020-10-31 14:50:00,If there were an award for Ocean's Most Distur...
2,1322546556873166849,2020-10-31 14:30:45,Scientists have seemly defied the laws of phys...
3,1322521848714797056,2020-10-31 12:52:34,This cactus-like plant is 4.5 million times ho...
4,1322498756445642754,2020-10-31 11:20:49,It's spooky season üëª You may not be able to hi...
...,...,...,...
3203,1286737213879988229,2020-07-24 18:57:12,'Grey's Anatomy' has tackled nearly every othe...
3204,1286721319455858691,2020-07-24 17:54:03,"TikTok, an app typically known for short, clev..."
3205,1286720832149102599,2020-07-24 17:52:07,Have you listened to Taylor Swift's new album?...
3206,1286720008127574016,2020-07-24 17:48:50,RT @KaraPlatoni: Scientists set out to create ...
3207,1286717653097250818,2020-07-24 17:39:29,Happy birthday to Steve Jobs‚Äô digital love chi...